body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: hsl(0, 0%, 95%);

}


#calculator {
font-family: Arial, Helvetica, sans-serif;
background-color: hsl(0, 0%, 19%);
border-radius: 15px;
max-width: 500px;
overflow: hidden;
margin: 0;
}
#keys
{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  padding: 25px;

}
#display {
  width: 95%;
  padding: 30px;
  font-size: 5rem;
  color: white;
  border: none;
  background-color: hsl(0, 0%, 10%);
  text-align: left;
}
button {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  border: none;
  background-color: hsl(0, 0%, 30%);
  color: white;
  font-size: 3rem;
  font-weight: 3rem;
  cursor: pointer;
}

button:hover {
  background-color: hsl(0, 0%, 40%);
}


button:active {
  background-color: hsl(0, 0%, 50%);
}

.operator-btn {
  background-color: hsl(35, 100%, 45%);
}

.operator-btn:hover {
  background-color: hsl(35, 100%, 75%);
}
.operator-btn:active {
  background-color: hsl(35, 100%, 95%);
}
